
/* https://codepen.io/raf187/pen/BvgGRQ */

.arrow{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow:hover span2 {
    border-bottom: 4px solid #0D3B66;
    border-right: 4px solid #0D3B66;
    transform: translateY(-10px) rotate(45deg);
    animation: animate 2s infinite;
}
.arrow:hover span1{
    border-bottom: 4px solid #0D3B66;
    border-right: 4px solid #0D3B66;
}
.arrow span1{
    display: block;
    width: 55px;
    height: 55px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    transform: rotate(45deg);
    margin: -20px;
}
.arrow span2{
    display: block;
    width: 55px;
    height: 55px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    transform: translateY(-35px) rotate(45deg);
    margin: -20px;
}


/* .arrow span2:hover{
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    transform: translateY(-10px) rotate(45deg);
    animation: animate 2s infinite;
} */

.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-8px,-px);
    }
    15%{
        opacity: 0.3;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
    85%{
        opacity: 0.3;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(8px,8px);
    }
}

/* mobile settings */
/* @media (max-width:  576px) {
    .art{
        opacity: 0;
      }
    .desc {
        font-size: 12pt;
    }
  } */